@import './Variables.scss';

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    // justify-content: space-around;
    padding: 0 10rem;
    gap: 30rem;

    .left-col {
        flex: 0.6;
        .title {
            font-size: 8rem;
            color: $almost-black;
            margin-bottom: 6rem;
        }

        .info {
            font-size: 1.8rem;
            margin-bottom: 4rem;
            line-height: 1.6;
        }

        .cta {
            font-size: 1.8rem;
            margin-bottom: 20rem;
        }

        .logos {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .right-col {
        flex: 0.3;
        img {
            height: 70rem;
        }
    }
}

@media (max-width: 1000px) {
    .wrapper {
        flex-direction: column-reverse;
        gap: 4rem;
        padding: 0;
        text-align: center;

        .left-col {
            .title {
                font-size: 3rem;
                margin-bottom: 2rem;
            }

            .cta {
                margin-bottom: 5rem;
                background-color: $almost-black;
                color: $almost-white;
                padding: 2rem;
            }
        }

        .right-col {
            flex: 1;
            img {
                height: 40rem;
                width: 100vw;
            }
        }
    }
}