@import '../styles/Variables.scss';

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .output {
        width: clamp(36rem, 90%, 54rem);
        // padding: 4rem 2.4rem;
        padding: 0 2.4rem;
        height: 10rem;
        background-color: $screen-bg;
        border-radius: 10px;
        font-size: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 1.2rem;
        margin-bottom: 2rem;

        small {
            font-size: 1.4rem;
            color: rgba($text-color, 0.7);
        }
    }

    .grid {
        display: grid;
        background-color: $keypad-bg;
        border-radius: 10px;
        width: clamp(36rem, 90%, 54rem);
        padding: 2rem 0;
        grid-template-columns: repeat(4, 10rem);
        grid-template-rows: repeat(5, 6rem);
        column-gap: 2.4rem;
        row-gap: 2.4rem;
        justify-content: center;

        .btn {
            font-weight: 700;
            cursor: pointer;
            font-size: 3rem;
            border: none;
            background-color: $key-normal-bg;
            border-radius: 8px;
            border-bottom: 4px solid $key-normal-shadow;
            transition: background-color 0.3s,
                        border 0.5s;
            color: $text-color;
        }

        .btn:hover, .btn:active {
            background-color: $white;
        }

        .btn.large {
            grid-column: span 2;
        }
        
        .btn.func {
            text-transform: uppercase;
            background-color: $key-func;
            color: $white;
            font-weight: 700;
            border-bottom-color: $key-func-shadow;
        }

        .btn.func:hover {
            background-color: rgba($key-func, 0.7);
        }

        .btn.equal {
            background-color: $key-equal-bg;
            border-bottom-color: $key-equal-shadow;
        }

        .btn.equal:hover {
            background-color: rgba($key-equal-bg, 0.7);
        }
    }
}

.theme2 section {
    .output {
        background-color: $screen-bg-theme2;

        small {
            color: rgba($white, 0.7);
        }
    }

    .grid {
        background-color: $keypad-bg-theme2;

        .btn {
            color: $text-color-theme2;
            border-bottom: 4px solid $key-normal-shadow-theme2;
        }

        .btn.func {
            background-color: $key-func-theme2;
            color: $white;
            border-bottom-color: $key-func-shadow-theme2;
        }

        .btn.func:hover {
            background-color: rgba($key-func-theme2, 0.7);
        }

        .btn.equal {
            background-color: $key-equal-bg-theme2;
            border-bottom-color: $key-equal-shadow-theme2;
        }

        .btn.equal:hover {
            background-color: rgba($key-equal-bg-theme2, 0.7);
        }
    }
}

.theme3 section {
    .output {
        background-color: $keypad-bg-theme3;

        small {
            color: rgba($text-color-theme3, 0.7);
        }
    }

    .grid {
        background-color: $keypad-bg-theme3;

        .btn {
            background-color: $key-normal-bg-theme3;
            color: $text-color-theme3;
            border-bottom: 4px solid $key-normal-shadow-theme3;
        }

        .btn:hover {
            background-color: rgba($key-normal-bg-theme3, 0.7);
        }

        .btn.func {
            background-color: $key-func-theme3;
            color: $white;
            border-bottom-color: $key-func-shadow-theme3;
        }

        .btn.func:hover {
            background-color: rgba($key-func-theme3, 0.7);
        }

        .btn.equal {
            background-color: $key-equal-bg-theme3;
            border-bottom-color: $key-equal-shadow-theme3;
        }

        .btn.equal:hover {
            background-color: rgba($key-equal-bg-theme3, 0.7);
        }
    }
}

@media (max-width: 600px) {
    section {
        width: 36rem;
        align-items: center;

        .grid {
            grid-template-columns: repeat(4, 7rem);
            justify-content: center;
            gap: 1rem 1rem;

            .btn {
                font-size: 2.6rem;
            }
        }
    }
}