@import './styles/Variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'League Spartan', sans-serif;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $main-bg;
  color: $text-color;
  transition: all 0.3s;
}

body.theme2 {
  background-color: $main-bg-theme2;
  color: $white;
}

body.theme3 {
  background-color: $main-bg-theme3;
  color: $text-color-theme3;
}

#root{
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}